* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo play", sans-serif;
  scroll-behavior: smooth;
  text-transform: capitalize;
  font-size: 18px;
}
body {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('../imgs/imgs/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.light {
  .bg-color {
    background-image: linear-gradient(45deg, #a0c2eefb 30%, #ffffffc7 100%);
  }
  .l1 {
    display: none;
  }
  .l2 {
    display: block;
  }
  h3 {
    color: #022757;
    font-size: clamp(20px, 5vw, 54px);
    padding-bottom: 1rem;
  }
  h4,
  h1,
  h5 {
    color: #01132b;
    font-size: clamp(20px, 5vw, 60px);
  }

  span {
    font-size: clamp(20px, 5vw, 60px);
    color: #006eff;
  }
  p {
    font-size: clamp(10px, 3vw, 18px);
    color: #01132b;
    font-weight: 500;
  }

  .hero h1 {
    color: #01132b;
  }
  a {
    color: #01132b;
  }
  .navbar .logo h1 {
    color: #01132b;
  }
  .navbar2 {
    background: #01132b;
  }
  .navbar2 a,
  .logo h1 {
    color: #f1f1f1;
  }

  #light {
    display: none;
  }
  #dark {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  .bg-color {
    background-image: linear-gradient(45deg, #a0c2eefb 30%, #ffffffc7 100%);
  }
  .l1 {
    display: none;
  }
  .l2 {
    display: block;
  }
  h3 {
    color: #022757;
    font-size: clamp(20px, 5vw, 54px);
    padding-bottom: 1rem;
  }
  h4,
  h1,
  h5 {
    color: #01132b;
    font-size: clamp(20px, 5vw, 60px);
  }

  span {
    font-size: clamp(20px, 5vw, 60px);
    color: #006eff;
  }
  p {
    font-size: clamp(10px, 3vw, 18px);
    color: #01132b;
    font-weight: 500;
  }

  .hero h1 {
    color: #01132b;
  }
  a {
    color: #01132b;
  }
  .navbar .logo h1 {
    color: #01132b;
  }
  .navbar2 {
    background: #01132b;
  }
  .navbar2 a,
  .logo h1 {
    color: #f1f1f1;
  }
  #light {
    display: none;
  }
  #dark {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  .bg-color {
    background-image: linear-gradient(45deg, #000e20fb 30%, #042238c7 100%);
  }

  .l2 {
    display: none;
  }
  h3 {
    color: #006eff;
    font-size: clamp(20px, 5vw, 54px);
    padding-bottom: 1rem;
  }
  h4,
  h1,
  h5 {
    color: #f1f1f1;
    font-size: clamp(20px, 5vw, 60px);
  }

  span {
    font-size: clamp(20px, 5vw, 60px);
    color: #006eff;
  }
  p {
    font-size: clamp(10px, 3vw, 18px);
    color: #f1f1f1;
    font-weight: 500;
  }
  .l1 {
    display: block;
  }
  .hero h1 {
    color: #f1f1f1;
  }
  a {
    color: #f1f1f1;
  }

  .navbar .logo h1 {
    color: #f1f1f1;
  }
  .navbar2 {
    background: #f1f1f1;
    transition: 0.5s ease;
  }

  .navbar2 a,
  .logo h1 {
    color: #01132b;
  }

  #light {
    display: block;
  }
  #dark {
    display: none;
  }
}
.dark {
  .bg-color {
    background-image: linear-gradient(45deg, #000e20fb 30%, #042238c7 100%);
  }

  .l2 {
    display: none;
  }
  h3 {
    color: #006eff;
    font-size: clamp(20px, 5vw, 54px);
    padding-bottom: 1rem;
  }
  h4,
  h1,
  h5 {
    color: #f1f1f1;
    font-size: clamp(20px, 5vw, 60px);
  }

  span {
    font-size: clamp(20px, 5vw, 60px);
    color: #006eff;
  }
  p {
    font-size: clamp(10px, 3vw, 18px);
    color: #f1f1f1;
    font-weight: 500;
  }

  .l1 {
    display: block;
  }
  .hero h1 {
    color: #f1f1f1;
  }
  a {
    color: #f1f1f1;
  }

  .navbar .logo h1 {
    color: #f1f1f1;
  }
  .navbar2 {
    background: #f1f1f1;
    transition: 0.5s ease-in-out;
  }

  .navbar2 a,
  .logo h1 {
    color: #01132b;
  }

  #light {
    display: block;
  }
  #dark {
    display: none;
  }
}
#light,
#dark {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.6rem;
  right: 0.8rem;
  top: 0.8rem;
  background: #006eff;
  align-content: center;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  cursor: pointer;
}
#light {
  color: #fde9b0;
  transition: 0.5s ease;
}
#dark {
  color: #020a18;
  transition: 0.5s ease;
}
#light:hover,
#dark:hover {
  transform: rotate(360deg);
}

.bg-color {
  z-index: 0;
  min-width: 150%;
  min-height: 150%;
  position: fixed;
}

.lang {
  background: #006eff;
  width: 2.5rem;
  height: 2.5rem;
  right: 4rem;
  position: fixed;
  text-align: center;
  padding-top: 0px;
  font-weight: 700;
  border-radius: 8px;
  color: #f1f1f1;
  cursor: pointer;
  z-index: 1000;
  border-bottom: #fdb514 solid 10px;
  transition: 0.5s ease-in-out;
}
.lang:hover {
  transform: translateY(-3px);
  background: #3148af;
  transition: 0.5s ease-in-out;
  color: #f1f1f1;
}
.container {
  z-index: 99;
  display: block;
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

.scroller{
  background: #006eff;
  border-radius: 20px;
  height: 5px;
  width: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
.logo {
  display: flex;
  align-items: center;
}
.navbar,
.navbar2 {
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 100%;
  position: fixed;
  transition: 1s ease-in-out;
  z-index: 100;
  left: 0;
  top: 0;
}
.navbar a,
.navbar2 a {
  padding: 2px;
  text-decoration: none;
  margin-left: 1rem;
  transition: 0.5s ease;
  position: relative;
  font-weight: 400;
  position: relative;
}

.navbar a:hover,
.navbar2 a:hover,
.navbar3 a:hover,
.navbar3 #menu:hover,
.navbar3 #close:hover {
  color: #006eff;
}

.navbar a::after,
.navbar2 a::after,
.navbar3 a::after {
  content: "";
  left: 0;
  bottom: -5px;
  position: absolute;
  height: 2px;
  width: 0;
  background: #006eff;
  transition: 0.5s ease-in-out;
}
.navbar a:hover::after,
.navbar2 a:hover::after {
  width: 100%;
}
.navbar h1,
.navbar2 h1 {
  font-size: 1.2rem;
  cursor: default;
}
.navbar img,
.navbar2 img {
  width: 3rem;
}

.navbar2 {
  display: none;
  box-shadow: #032038dc 0 0 2rem;
  transition: 0.5s ease-in-out;
}
.logo span {
  font-size: 1.2rem;
  color: #006eff;
  font-weight: 700;
}
.navbar3 {
  display: block;
  position: relative;
  background: #f1f1f1dc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  right: 10px;
  top: 10px;
  padding-bottom: 10px;
  padding-top: 30px;
  z-index: 999;
  width: 45px;
  display: none;
  transition: 0.5s ease;
}
.navbar3 .nav3 {
  display: none;
  transition: 0.5s ease;
}
.navbar3:hover {
  width: 30%;
  border-radius: 20px;
}
.navbar3 a {
  text-decoration: none;
  color: #161f30;
  border-radius: 2rem;
  font-weight: 600;
  padding: 20px;
  padding-bottom: 20px;
  display: block;
  text-align: center;
}
.navbar3 a:hover {
  background: #161f30;
}
.navbar3 a:active {
  background: #122852;
}
.active {
  color: #006eff;
}
.active::after {
  content: "";
  left: 0;
  bottom: -5px;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #006eff;
  transition: 0.5s ease-in-out;
}

.navbar3 #menu,
#close {
  color: #161f30;
  right: 0;
  position: absolute;
  top: 5px;
  font-size: 2rem;
  cursor: pointer;
  padding-bottom: 20px;
  padding-right: 10px;
  transition: 1s ease;
}
#close {
  display: none;
}
#home {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  top: 20%;
  margin-left: 5rem;
  padding-bottom: 5rem;
  cursor: default;
}
.hero h1 {
  font-size: clamp(10px, 5vw, 32px);
  padding-bottom: 0.7rem;
}
#home p {
  letter-spacing: 1px;
  line-height: 1.5;
  max-width: 450px;
  padding-bottom: 0.7rem;
}
button,.cv-btn {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px 10px;
  width: 14rem;
  background: #fdb514;
  color: #001120;
  font-weight: 600;
  margin-bottom: 0.7rem;
  cursor: pointer;
  margin-top: 0.7rem;
  transition: 0.5s ease-in-out;
}
button:hover,.cv-btn:hover {
  color: #f1f1f1;
  background-image: linear-gradient(60deg, #014444, #6ab7ff);
  color: #01132b;
  transition: 0.5s ease-in-out;
}
.social a i {
  font-size: 1.3rem;
  gap: 1rem;
  transition: 0.5s ease;
}

.social a i:hover {
  color: #006eff;
  transform: translateY(-3px);
}
.hero-img {
  right: 7rem;
  position: absolute;
  animation-name: upDown;
  animation-duration: 2s;
  animation-timing-function: 2s ease-in-out;
  animation-iteration-count: infinite;
}
.hero-img img {
  width: 20rem;
}
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}

#about {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: 5rem;
  padding-top: 7rem;
  padding-bottom: 5rem;
  animation: apper linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  transition: 1s ease-in-out ease;
}
@keyframes apper {
  from{
    opacity : 0;
    transform: translateX(-50%);
  }
  to{
    opacity:1 ;
    transform: translateX(0%);
  }
}
#about h4 {
  padding-bottom: 2rem;
}
.about-img {
  right: 7rem;
  position: absolute;
}
.about-img img {
  width: 300px;
}
#about p {
  letter-spacing: 1px;
  line-height: 1.5;
  max-width: 650px;
  font-weight: 600;
  padding-bottom: 0.7rem;
}

#home p:hover,
#about p:hover {
  transform: translateX(10px);
  transition: 0.5s ease-in-out;
}

#services,
#projects {
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: grid;
  position: relative;
  text-align: center;
  cursor: default;
  animation: apper linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  transition: 1s ease-in-out;
}

#services h4,
#projects h4 {
  padding-bottom: 3rem;
  position: relative;
}

#projects h1 {
  font-size: clamp(20px, 3.5vw, 20px);
}
#projects p,
#services p {
  font-size: clamp(7px, 2vw, 16px);
}
#services h3 {
  color: #006eff;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}
#services i {
  font-size: 3rem;
  color: #006eff;
}
#services p {
  color: #f1f1f1;
}
#services button {
  bottom: 0;
  position: absolute;
  left: 13%;
}
.boxes {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.box1 {
  position: relative;
  background: #020a18;
  width: 18rem;
  height: 18rem;
  overflow: hidden;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  color: #f1f1f1;
  transition: 0.5s ease-in-out;
}

.box1:hover {
  border: #006eff solid 0.2rem;
  transform: translateY(-10px);
  transition: 0.5s ease;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: center;
  text-align: start;
  cursor: default;
}
.cards button {
  padding: 0px;
}
#projects .card {
  width: 20rem;
  height: 14rem;
  overflow: hidden;
  position: relative;
  border-radius: 2rem;
  margin: 0.7rem;
  transition: 0.5s ease-in-out;
}
.card:hover {
  border: #006eff solid 2px;
}
.card img {
  width: 100%;
  height: 100%;
  transition: 0.7s ease;
}
.intro {
  height: 20%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  padding: 0rem 1rem;
  background: #01132bbb;
  bottom: 0;
  transition: 0.7s ease;
}
.intro h1 {
  font-size: clamp(2px, 5vw, 30px);
  color: #f1f1f1;
}
.intro p {
  font-size: clamp(1px, 5vw, 15px);
  opacity: 0;
  color: #f1f1f1;
}
.intro button {
  width: clamp(150px, 10vw, 250px);
  opacity: 0;
}
.card:hover .intro {
  height: 50%;
}
.card:hover .intro p,
.intro button {
  opacity: 1;
}
.card:hover img {
  transform: rotate(-3deg) scale(1.1);
}
#skils {
  padding-top: 3rem;
  padding-bottom: 3rem;
  place-content: center;
  flex-direction: column;
  align-items: center;
  display: grid;
  position: relative;
  text-align: center;
  cursor: default;
}
.skil-card1 {
  left: 7rem;
  padding-top: 2rem;
  margin-bottom: 3rem;
}
.skils-cards {
  direction: ltr;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: clamp(10rem, 5vw, 20rem);
  flex-wrap: wrap;
}
.skil-card1 h2,
.skil-card2 h2 {
  font-size: 2rem;
  color: #ff2600;
}
.skils h5 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  transition: 0.5s ease-in-out;
}
.skils h5:hover {
  transform: translateX(10px);
  transition: 0.5s ease-in-out;
}
.photoshop-skil {
  font-size: 1rem;
  color: #272a3a;
}
.photoshop-skil,
.illustrator-skil,
.excel-skil,
.word-skil,
.power-point-skil,
.front-end-skil {
  width: 300px;
  left: 0;
  background: #fdfdfd;
  height: 10px;
  border-radius: 5px;
  border-left: #ff2600 solid 200px;
  margin-bottom: 2rem;
  text-align: right;
  transition: 1s ease-in-out;
}
.excel-skil {
  border-left: #ff2600 solid 240px;
}
.excel-skil:hover,
.photoshop-skil:hover,
.illustrator-skil:hover,
.excel-skil:hover,
.word-skil:hover,
.power-point-skil:hover,
.front-end-skil:hover {
  border-left: #ff2600 solid 280px;
  transition: 1s ease-in-out;
}
.word-skil {
  border-left: #ff2600 solid 220px;
}
.power-point-skil {
  border-left: #ff2600 solid 200px;
}
.front-end-skil {
  border-left: #ff2600 solid 120px;
}
#skils::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50%;
  left: 50%;
  bottom: 7rem;
  align-items: center;
  background: #ff2600;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f6f6f6;
}
::-webkit-scrollbar-thumb {
  background: #fdb314de;
  border-radius: 20px;
  transition: 0.5s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #fdb314;
}
#contact {
  width: 100%;
  padding-top: 3rem;
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
#contact h4 {
  padding-bottom: 1rem;
}
#contact input,
textarea {
  width: 80%;
  background: #2f3b49;
  color: #f1f1f1;
  padding: 7px 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  position: static;
  margin-bottom: 10px;
  transition: 0.5s ease;
}
.inp{
  display: flex;
  margin: auto;
  gap: 10px;
  width: 80%;
}
#contact textarea {
  height: 200px;
  resize: none;
}
#contact textarea:focus,
#contact input:focus {
  border: #006eff solid 1px;
  transform: translate(1.1);
  background: #1e2f42;
}

#contact textarea:hover,
#contact input:hover {
  background: #1e2f42;
}

#up {
  right: 1rem;
  bottom: 1rem;
  position: fixed;
  z-index: 999;
  cursor: pointer;
  display: none;
  transition: 0.5s ease-in-out;
}
#up i {
  font-size: clamp(10px, 5vw, 30px);
}
#up i:hover {
  color: #006eff;
}

ul {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}

#footer {
  color: #f1f1f1;
  margin: auto;
  width: 90%;
  border-radius: 2rem;
  background: #040b11;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  bottom: 0;
  transition: 0.5s ease-in-out;
  cursor: default;
}
#footer:hover{
  opacity: 0.9;
}
#footer h2 {
  color: #f1f1f1;
  position: relative;
  margin-bottom: 0.5rem;
}
#footer h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 2px;
  background: #f1f1f1;
  transition: 0.5s ease-in-out;
}
#footer h2:hover::after {
  width: 100%;
  background: #006eff;
  transition: 0.5s ease-in-out;
}
.footer-logo img {
  height: 10rem;
  margin-left: 2rem;
}
.line {
  height: 12rem;
  width: 0.1rem;
  background: #006eff;
  margin-left: 1rem;
}
.footer-about,
.footer-contact {
  color: #f1f1f1;
  display: block;
  transition: 0.5s ease-in-out;
}

.footer-about a,
.footer-contact a,
#footer .social a {
  color: #f1f1f1;
}
.footer-about h2 {
  font-size: clamp(10px, 3vw, 20px);
}
.footer-about p {
  max-width: 400px;
  font-size: 0.7rem;
  color: 
  #f1f1f1;
}

#footer .social{
  max-width: 6rem;
}
.cobyright {
  text-align: center;
  margin-top: 0.5rem;
  bottom: 1rem;
  font-size: 0.5rem;
}

@media (max-width: 900px) {
  .navbar,
  .navbar2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar a,
  .navbar2 a {
    font-size: 0.7rem;
    margin-left: 0.5rem;
  }
  .navbar h1,
  .navbar2 h1 {
    font-size: 0.9rem;
  }
  #home,
  #about,
  #services,
  #projects {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5rem;
    margin-left: 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .hero-img,
  .about-img {
    position: static;
  }
  .hero {
    top: 10rem;
  }
  .lang {
    right: calc(100% - 3rem);
    top: 3rem;
  }
  #light,
  #dark {
    right: calc(100% - 3rem);
    top: 7rem;
  }
  .skils-cards {
    justify-content: center;
    gap: 5rem;
  }
  #skils::after {
    display: none;
  }
}
@media (max-width: 650px) {
  * {
    font-size: 14px;
  }

  .navbar3 {
    display: block;
    position: fixed;
  }
  .navbar2,
  .navbar {
    display: none;
    visibility: hidden;
  }
  .footer-logo img {
    margin-left: 0;
  }
  .footer-logo {
    margin-left: 50%;
    transform: translate(-50%);
  }

  #footer .line {
    width: 100%;
    height: 0.1rem;
    margin-left: 50%;
    transform: translate(-50%);
  }
}
